[submodule "src/arduino"]
	path = src/arduino
	url = https://github.com/volca/abutton-arduino.git
[submodule "src/abutton/arduino"]
	path = src/abutton/arduino
	url = https://github.com/volca/abutton-arduino.git
